@page "/demo/mainindex/{handler?}"
@model Sol_TempData.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <a class="btn btn-danger" asp-page="/Demo/View">View 1</a>
        </div>
    </div>
</div>
